.contentContainer {
  border: 2px solid black;
  margin-top: 10px;
  background-color: beige;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
}
.title {
  text-align: center;
}
.body {
  list-style: none;
  height: 10px;
}
.bodyContent {
  color: red;
  margin-right: 40px;
}
