.pressContainer {
  max-width: 450px;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.imgContainer {
  overflow: hidden;
}
.img {
  transition: 0.2s;
}
