.apply {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.title {
  text-align: center;
}
.body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-bottom: 77px;
}
.content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}
.icons {
  font-size: 130px;
}
.buttons {
  background-color: whitesmoke;
  border: 1px solid white;
  margin-top: 30px;
  cursor: pointer;
  font-size: 15pt;
}
