html,
body {
  margin: 0;
  height: auto;
}
.applyContainer {
  background-color: white;
  height: 30vh;
  display: flex;
}
.apply {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.logos {
  height: 50%;
}
.apply {
  height: 50%;
}
.logos > h1 {
  text-align: center;
}
.apply > h1 {
  text-align: center;
}
.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 90px;
}
.buttons > button {
  background-color: tomato;
  border: 1px solid white;
  color: white;
  width: 250px;
  height: 100px;
}
.earlybirdExp {
  width: 300px;
  height: 100px;
  background-color: black;
  position: absolute;
  transition: 0.4s;
}
.earlybirdExp > a {
  color: white;
}
