html,
body {
  margin: 0;
  height: auto;
}
.applyContainer {
  background-color: #181818;
  height: 30vh;
  display: flex;
}
.apply {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.apply {
  height: 50%;
}
.apply > h1 {
  text-align: center;
  font-family: "Manru";
  margin-top: 30px;
  color: whitesmoke;
  letter-spacing: 10px;
}
.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 90px;
}
.buttons > button {
  background-color: #e8f9fd;
  border: 1px solid white;
  color: black;
  width: 250px;
  height: 100px;
}
.earlybirdExp {
  width: 300px;
  height: 100px;
  background-color: black;
  position: absolute;
  transition: 0.4s;
  border: 1px solid white;
}
.earlybirdExp > a {
  color: white;
}
