html,
body {
  margin: 0;
  height: auto;
}
.ndContainer {
  background-color: beige;
  height: 80vh;
  display: flex;
}
.ndBack {
  width: 80%;
  border: 1px solid red;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.ndLogoContainer {
  border: 1px solid green;
  width: 50%;
  height: 70%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.ndLogo {
  position: relative;
  width: 500px;
}
.ndBody {
  border: 1px solid blue;
  width: 50%;
  height: 70%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyTitle {
  font-size: 60px;
  font-weight: bolder;
}
.invitation {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}
