.rdTitle {
  background: url(https://www.qatar2022.qa/sites/default/files/2022-07/bg-orange.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.rdTitle > a {
  /* 글자 테두리 색 */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

  /* 글자 배경색 투명 */
  mix-blend-mode: lighten;

  font-weight: bolder;
  font-size: 250px;
  display: flex;
  justify-content: center;
  margin-top: 130px;
  font-family: "Manru";
}
.rdContainer {
  display: flex;
  background-color: #e8f9fd;
  flex-direction: column;
}
.rdBody {
  height: 50vh;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  top: -310px;
  justify-content: center;
}
.content {
  display: flex;
  position: relative;
  width: 415px;
  background-color: #181818;
  height: 600px;
  overflow: hidden;
  flex-direction: column;
  transition-duration: 0.2s;
}
.content:hover {
  transform: translateY(-30px);
}
.content > h1 {
  color: #e8f9fd;
  font-family: Manru;
  letter-spacing: 1px;
  margin-left: 30px;
}
.content > h4 {
  color: #e8f9fd;
  margin-left: 30px;
}
.schedule {
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.detail {
  position: absolute;
  width: 150px;
  height: 50px;
  color: #181818;
  font-weight: bold;
  font-size: 13pt;
  background-color: #e8f9fd;
  border: 0px solid white;
  right: 20px;
  bottom: 20px;
}
.map {
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.content > a > button {
  cursor: pointer;
}
