body,
html {
  margin: 0;
}
.banner {
  position: relative;
  top: 0;
  opacity: 0.8;
}
.summary {
  margin-top: 0;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid red;
  z-index: 0;
}
.title {
  text-align: center;
}
