.routeNavContainer {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  z-index: 10;
}
.navArrow {
  transition: 0.2s;
}
.navList {
  border-radius: 0 0 10px 10px;
  left: 150px;
  top: 40px;
  width: 210px;
  background-color: white;
  position: fixed;
  box-shadow: 0.1em 0.8em 0.8em rgba(0, 0, 0, 0.3);
}
.nav,
.navCurrent {
  font-size: 25px;
}
.nav > a {
  margin-left: 10px;
  margin-right: 10px;
}
.navCurrent > a {
  margin-left: 10px;
  margin-right: 10px;
}
.navCurrent {
  cursor: pointer;
}
.lists {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
