html,
body {
  margin: 0;
  height: auto;
}
.sponcerContainer {
  background-color: tomato;
  height: 30vh;
  display: flex;
}
.bg {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.logos {
  height: 50%;
}
.apply {
  height: 50%;
}
.logos > h1 {
  text-align: center;
}
.apply > h1 {
  text-align: center;
}
.sponcers {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  margin-top: 50px;
}
.sponcer {
  border: 1px solid white;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.sponcer:hover {
  transform: scale(1.1);
}
.logo_jumpingKorea {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}
