html,
body {
  margin: 0;
  height: auto;
}
.thContainer {
  background-color: violet;
  height: 80vh;
  display: flex;
}
.thBack {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.content {
  height: 33%;
  overflow: hidden;
  margin-top: 2px;
}
.content > img {
  transition-duration: 0.2s;
}
.content > img:hover {
  transform: scale(1.1);
}
.content > h1 {
  position: fixed;
  z-index: 10;
  color: white;
  background-color: black;
}
.noticeImg {
  position: relative;
}
