.article {
  margin-top: 0;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.imgBox {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.BodyVideo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
