.horizontalSection {
  background-color: #181818;
}
.stickyWrapper {
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 10px;
}
.elementWrapper {
  position: relative;
  display: flex;
}
.element {
  width: 100vw;
  height: 98vh;
  flex-shrink: 0;
  color: white;
  margin: 0 20px 0 0;
  padding-left: 50px;
  z-index: 10;
}

.element:nth-child(1) {
  background-color: #181818;
}
.element:nth-child(2) {
  background-color: #181818;
  padding-left: 40px;
  padding-right: 40px;
}
.element:nth-child(3) {
  background-color: #181818;
}
.pastBg {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.pastBg > span {
  font-size: 300px;
  font-family: Manru;
  color: #2b2a2a;
}
.image {
  height: 300px;
  width: 500px;
}
.pastWrapper {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}
.content > h4 {
  text-align: end;
}
.curveSvg {
  fill: none;
  stroke-width: 5px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.svgPath {
  stroke: whitesmoke;
  stroke-dasharray: 2150;
  transition: 1s;
  position: absolute;
}

/* 점핑의 역사 */
.trampolineIcon {
  position: absolute;
  width: 500px;
  bottom: 0;
  transform: rotate(-45deg) translateX(-300px);
  transform-origin: 50% 50%;
}

.historyTitle {
  width: 90%;
  text-align: end;
  font-size: 100px;
}

.trampolineIcon:hover {
  animation: trampolineRotate 25s linear infinite;
  transition: 3s;
  scale: 4;
}
@keyframes trampolineRotate {
  from {
    transform: translateX(30px) translateY(70px) rotate(0deg);
  }
  to {
    transform: translateX(30px) translateY(70px) rotate(360deg);
  }
}

.whiteTranpoline {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.arrowSvg {
  width: 400px;
  margin-left: 230px;
  fill: none;
  stroke-width: 5px;
}
.arrowPath {
  stroke: whitesmoke;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: path 1500ms forwards infinite;
}
.trampolineIcon:hover ~ .arrowSvg {
  display: none;
}

@keyframes path {
  100% {
    stroke-dashoffset: 0;
  }
}
