.banner {
  width: 100%;
  min-height: 10vh;
  max-height: 30vh;
  opacity: 0.9;
}
@media screen and (max-width: 1023px) {
}
@media all and (max-width: 767px) {
  /* width 767px 반응형 모바일*/
}

@media screen and (max-width: 575px) {
  /* 모바일 */
}
