.summary {
  margin-top: 0;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.title {
  text-align: center;
}
.bodyImage {
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
}

@media screen and (max-width: 1023px) {
}
/* width 767px 반응형 모바일*/
@media all and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
  /* 모바일 */
  .summary {
    width: 90%;
  }
  .title {
    font-size: 25px;
  }
}
