.banner {
  position: relative;
  top: 0;
  opacity: 0.8;
}
.reservation {
  margin-top: 0;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.title {
  text-align: center;
}
.numCount {
  display: flex;
}
.headCount {
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  width: 60px;
  height: 36px;
}
.upDownBtns {
  display: flex;
  flex-direction: column;
}
.resForm {
  border: 1px solid red;
}
