.sponcerContainer {
  background-color: #ffffff;
  height: 80vh;
  position: relative;
  z-index: 1;
}
.bg {
  width: 80%;
  position: relative;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.title {
  font-family: "Manru";
  color: #181818;
  font-size: 45px;
  letter-spacing: 10px;
}
.title > h1 {
  margin: 10px;
}
.sponcers {
  display: flex;
  padding-left: 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: end;
  border-right: 1px solid #eee;
  margin-left: 10px;
}
.sponcers li {
  list-style: none;
  border-top: 1px solid #eee;

  border-left: 1px solid #eee;
  width: 28.2%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.sponcers li img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.bottomLine {
  border-bottom: 1px solid #eee;
}
