.sponcerContainer {
  background-color: #2d4263;
  height: 40vh;
}
.bg {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.logos {
  height: 50%;
}
.logos > h1 {
  text-align: center;
  font-family: "Manru";
  margin-top: 50px;
  color: whitesmoke;
  letter-spacing: 10px;
}
.sponcers {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  margin-top: 70px;
}
.sponcer {
  border: 1px solid white;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.sponcer:hover {
  transform: scale(1.1);
}
.logo_jumpingKorea {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  opacity: 0.6;
  transition: 0.4s;
}
.logo_jumpingKorea:hover {
  opacity: 1;
}
