.ndContainer {
  background-color: #181818;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.ndBack {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.ndLogoContainer {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.ndLogo {
  position: relative;
  width: 500px;
}
.ndBody {
  width: 50%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyTitle {
  font-size: 60px;
  margin-left: 100px;
  font-family: philosopher;
  color: whitesmoke;
}
.invitation {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}
.center {
  color: whitesmoke;
  width: 200px;
}
.centerWord {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  font-size: 180px;
  margin-top: -2700px;
  transition: 150s linear;
}
